/* fonts */
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/* text colors */
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$second-part-logo-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);

/* bg colors */
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-footer-bg-color: #2f303a;
$projects-border-color: 1px solid #eeeeee;
$upper-line-color: 1px solid #ececec;
$footer-icons-bg-color: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$activity-desc-bg-color: rgba(47, 48, 58, 0.8);

/* icons colors */
$primary-icons-fill-color: #afb1b8;

/* btn */
$hero-btn-hover-color: #188ce8;
$hero-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$filtr-btn-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$modal-btn-border-color: 1px solid rgba(0, 0, 0, 0.1);

/* margin, padding, gaps, shadows */
$card-set-gap: 30px;
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$portfolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$projects-card-overlay-bg-color: rgba(33, 150, 243, 0.9);
$reg-input-border-color: 1px solid rgba(33, 33, 33, 0.2);
$sudsc--input-border-color: 1px solid rgba(255, 255, 255, 0.3);
$mob-menu-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
  0px 1px 3px rgba(0, 0, 0, 0.16);

/* others */

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// :root {
//   /* fonts */
//   // --main-font: 'Roboto', sans-serif;
//   // --secondary-font: 'Raleway', sans-serif;

//   /* text colors */
//   // --primary-text-color: #212121;
//   // --secondary-text-color: #757575;
//   // --white-text-color: #ffffff;
//   // --accent-color: #2196f3;
//   // --second-part-logo-color: #000000;

//   /* bg colors */
//   // --primary-bg-color: #ffffff;
//   // --secondary-bg-color: #f5f4fa;
//   // --hero-footer-bg-color: #2f303a;
//   // --projects-border-color: 1px solid #eeeeee;
//   // --upper-line-color: 1px solid #ececec;
//   // --footer-icons-bg-color: rgba(255, 255, 255, 0.1);
//   // --backdrop-bg-color: rgba(0, 0, 0, 0.2);

//   /* icons colors */
//   // --primary-icons-fill-color: #afb1b8;

//   /* btn */
//   // --hero-btn-hover-color: #188ce8;
//   // --hero-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   // --filtr-btn-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

//   /* margin, padding, gaps, shadows */
//   // --card-set-gap: 30px;
//   // --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//   //   0px 2px 1px rgba(0, 0, 0, 0.2);
//   // --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//   //   1px 4px 6px rgba(0, 0, 0, 0.16);
//   // --portfolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//   //   0px 2px 2px rgba(0, 0, 0, 0.12);
//   // --modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//   //   0px 2px 1px rgba(0, 0, 0, 0.2);
//   // --projects-card-overlay-bg-color: rgba(33, 150, 243, 0.9);

//   /* others */

//   // --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
