.benefits__list {
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    display: flex;
    gap: $card-set-gap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 354px;

    margin-bottom: 0;
    flex-basis: calc((100% - $card-set-gap * 1) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: calc((100% - $card-set-gap * 2) / 3);
  }
}

.benefits__icon-container {
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: $secondary-bg-color;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.benefit__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__desc {
  color: $secondary-text-color;
  font-weight: 400;
  line-height: 1.71;
}
